<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <springProfile name="dev">
	    <!-- log4jdbc-log4j2 -->  
	    <logger name="jdbc.sqlonly"        level="DEBUG"/>  
	    <logger name="jdbc.sqltiming"      level="INFO"/>  
	    <logger name="jdbc.audit"          level="OFF"/>  
	    <logger name="jdbc.resultset"      level="ERROR"/>  
	    <logger name="jdbc.resultsettable" level="DEBUG"/>  
	    <logger name="jdbc.connection"     level="OFF"/>
	</springProfile>
	
	<springProfile name="test">
	    <!-- log4jdbc-log4j2 -->  
	    <logger name="jdbc.sqlonly"        level="ERROR"/>  
	    <logger name="jdbc.sqltiming"      level="ERROR"/>  
	    <logger name="jdbc.audit"          level="ERROR"/>  
	    <logger name="jdbc.resultset"      level="ERROR"/>  
	    <logger name="jdbc.resultsettable" level="ERROR"/>  
	    <logger name="jdbc.connection"     level="ERROR"/>
	</springProfile>
</configuration>